h1 {
    text-align: center;
    margin: 10px;
}

form {
    width: 70%;
    margin: 0 auto;
}

.table{
    text-align: center;
    margin-top: 20px;
}

.fa-check-circle {
    color: mediumseagreen;
}